.token-rate {
  border: none;
  &::part(body) {
    background-color: #1a1b1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-weight: 600;
    img {
      width: 72px;
    }
  }
  &__value {
    font-weight: 700;
    color: $color-text-secondary;
    font-size: 1.25rem;
  }
}
