.wallet {
  margin-left: auto;
  border-radius: 10px;

  .popup__anchor::part(base) {
    border: none;
    border-radius: 10px;
    align-items: center;
    color: $color-text;
    justify-content: center;
    transition: background-color 250ms ease-in-out;
    background-color: #f716a2;

    // &:hover {
    //   color: $color-text;
    // }
  }
  .wallet__content {
    font-size: 0.8rem;
    display: inline-grid;
    place-items: start;
    gap: 0.5em;
    padding: 0.75em 1em;
    .disconnect {
      bottom: var(--gap);
      z-index: 1;
      margin-top: 0.5em;
      margin-left: auto;

      ::part(base) {
        --sl-input-height-small: 2em;
      }
    }
  }

  #wallet-status-icon {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;

    &.connected {
      background-color: $color-success;
    }
  }
}
