$bg-base: #25262a;
$bg-top-bar: #2e3136;
$bg-popup: lighten($bg-base, 4%);
$color-text: #ffffff;
$color-text-secondary: darken($color-text, 30);
$color-text-trinary: darken($color-text, 50);
$color-primary: #1d1d1d;
$color-input: #282828;
$color-success: #52c41a;
$color-placeholder: #cccece;
$color-border: #e4e4e7;
$color-danger: #ff4d4f;
$color-disabled: #c3c7c7;
$shadow: 0 -0.05em 1em 2px #0a100015;
$color-brand: #ff00a4;
$color-secondary: #000000;
