$bg-base: #fff;
$bg-popup: lighten($bg-base, 4%);
$color-text: #0a0e10;
$color-text-secondary: #3f3f46;
$color-text-trinary: #ededed;
$color-primary: #0e0e0e;
$color-success: #52c41a;
$color-placeholder: #cccece;
$color-border: #e4e4e7;
$color-danger: #ff4d4f;
$color-disabled: #c3c7c7;
$shadow: 0 -0.05em 1em 2px #0a100015;
