.buy {
  display: grid;
  width: 100%;
  justify-content: center;
  .swap {
    width: 90%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 5%;
    background-color: #1a1b1f;

    &__body {
      margin-top: 50px;
      margin-bottom: 50px;
      padding-inline: 40px;
      min-height: initial;
      align-items: center;
      .token-rate {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &__token {
          flex: 1;
          display: flex;
          align-items: center;
        }
        &__logo {
          margin-right: 10px;
          width: 50px;
          height: 50px;
        }
      }
      .vertical-line {
        width: 1px;
        height: 20px;
        background-color: #aaa;
        margin-left: 10px;
      }
      .convert-icon {
        margin-block: 10px;
        width: 30px;
        height: 30px;
        @include gt-sm {
          transform: rotate(90deg);
          margin-inline: 1%;
        }
      }

      .coin-center {
        display: flex;
        @include lt-md {
          display: block;
        }

        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .coin-section {
        width: 100%;

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-inline: 20px;
          height: 0px;
        }

        &__input {
          display: flex;
          align-items: center;
          padding-inline: 10px;
          padding-block: 10px;
          border-radius: 10px;
          background-color: #2e3136;
        }

        &__icon {
          width: 25px;
          height: 25px;
          margin-right: 5px;
          border-radius: 50%;
        }

        &__label {
          font-size: 0.6rem;
          color: #aaa;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type="number"] {
          appearance: none;
          -moz-appearance: textfield;
        }

        .txtinput {
          background-color: #2e3136;
          font-size: 1.5rem;
          font-weight: 700;
          border: none;
          width: 100%;
          text-align: end;
          align-self: flex-end;
          width: 100%;
          color: white;
          outline: none;
        }
      }
    }

    .swap-button {
      width: 100%;
      background-color: $color-brand;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      &[disabled] {
        background-color: darken($color-brand, 20%);
      }
    }
  }
}
